@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  /* font-family: system-ui, sans-serif; */
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  font-family: "Bad Script", cursive;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  font-weight: 400;
  font-style: normal;

}
